body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo {
  padding-left: 50px;
  margin: 2px;
}

.sidebar {
  display: flex;
  height: 100vh;
  float: left;
  overflow: 'scroll initial';
}

.side-row {
  padding: 30px;
}
